<div id="content">
    <div class="topic"> Contests </div>
    <div class="text">
        <div class="contentbox">
            <table border='1px'>
                <% @contests.each do |contest| %>
                    <tr style="padding: 10px">
                        <td style="padding: 10px">
                            <%= contest.name %>
                        </td>
                        <td  style="padding: 10px">
                            <%= contest.start_date.strftime("%e %B %Y %k:%M") %>
                        </td>
                        <td  style="padding: 10px">
                            <%= contest.end_date.strftime("%e %B %Y %k:%M") %>
                        </td>
                        <td style="padding: 10px">
                            <% if contest.has_started? %>
                                <a href="/contest/<%= contest.id %>">
                                    <%= contest.in_progress? ? 'Compete' : 'View' %>
                                </a>
                            <% else %>
                                Not started
                            <% end %>
                        </td>
                <% end %>
            </table>
        </div>
    </div>
</div>
