<div id="content">
    <h1>Contests</h1>
    <div class="content_box">
        <table id="contests">
            <% @contests.each do |contest| %>
                <tr>
                    <td><%= contest.name %></td>
                    <td><%= contest.start_date.strftime("%e %B %Y, %k:%M") %></td>
                    <td><%= contest.end_date.strftime("%e %B %Y, %k:%M") %></td>
                    <td>
                        <% if contest.has_started? %>
                            <a href="/contest/<%= contest.id %>">
                                <%= contest.in_progress? ? 'Compete' : 'View' %>
                            </a>
                        <% else %>
                            Not started
                        <% end %>
                    </td>
                </tr>
            <% end %>
        </table>
    </div>
</div>
